In [1]:
import pandas as pd
import numpy as np

# combining all csv file into one dataframe

In [2]:
features=['pkSeqID', 'stime', 'flgs', 'proto', 'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes',
                        'state', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'smac', 'dmac', 'sum', 'min', 'max', 'soui', 'doui',
                        'sco', 'dco', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate', 'attack',
                        'category', 'subcategory' ]
features_1=['pkSeqID','attack','category', 'subcategory']

In [3]:
df1 = pd.DataFrame(columns = features_1)
df2 = pd.DataFrame(columns = features_1)
df3 = pd.DataFrame(columns = features_1)
df4 = pd.DataFrame(columns = features_1)
df = pd.DataFrame(columns = features_1)
df5 = pd.DataFrame(columns = features_1)
df6 = pd.DataFrame(columns = features_1)

In [4]:
fname=r"E:\machine learning\dataset\iot botnet\Entire Dataset\UNSW_2018_IoT_Botnet_Dataset_"
extension=".csv"

In [5]:
for i in range(1,19):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df1=df1.append(df_temp,ignore_index=True)

df5=df5.append(df1,ignore_index=True)
del(df1)

for i in range(19,37):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df2=df2.append(df_temp,ignore_index=True)

df5=df5.append(df2,ignore_index=True)
del(df2)

In [6]:
df5

           pkSeqID attack category subcategory
0                1      0   Normal      Normal
1                2      0   Normal      Normal
2                3      0   Normal      Normal
3                4      0   Normal      Normal
4                5      0   Normal      Normal
...            ...    ...      ...         ...
35999995  35999996      1     DDoS         TCP
35999996  35999997      1     DDoS         TCP
35999997  35999998      1     DDoS         TCP
35999998  35999999      1     DDoS         TCP
35999999  36000000      1     DDoS         TCP

[36000000 rows x 4 columns]

In [7]:

for i in range(37,56):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df3=df3.append(df_temp,ignore_index=True)

df6=df6.append(df3,ignore_index=True)
del(df3)

for i in range(56,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df4=df4.append(df_temp,ignore_index=True)

df6=df6.append(df4,ignore_index=True)
del(df4)

In [8]:
df6

           pkSeqID attack category subcategory
0         36000001      1     DDoS         TCP
1         36000002      1     DDoS         TCP
2         36000003      1     DDoS         TCP
3         36000004      1     DDoS         TCP
4         36000005      1     DDoS         TCP
...            ...    ...      ...         ...
37370438  73370439      0   Normal      Normal
37370439  73370440      0   Normal      Normal
37370440  73370441      0   Normal      Normal
37370441  73370442      0   Normal      Normal
37370442  73370443      0   Normal      Normal

[37370443 rows x 4 columns]

In [9]:
df=df.append(df5,ignore_index=True)
df=df.append(df6,ignore_index=True)

In [10]:
del(df5)
del(df6)

In [11]:
df

           pkSeqID attack category subcategory
0                1      0   Normal      Normal
1                2      0   Normal      Normal
2                3      0   Normal      Normal
3                4      0   Normal      Normal
4                5      0   Normal      Normal
...            ...    ...      ...         ...
73370438  73370439      0   Normal      Normal
73370439  73370440      0   Normal      Normal
73370440  73370441      0   Normal      Normal
73370441  73370442      0   Normal      Normal
73370442  73370443      0   Normal      Normal

[73370443 rows x 4 columns]

In [86]:
df.to_csv(r'E:\machine learning\iot botnet\data sampling\data.csv')

# dataset description

In [12]:
print('total number of rows is ',len(df))

total number of rows is  73370443

# label names

In [13]:
df['category'].unique()

array(['Normal', 'Reconnaissance', 'Theft', 'DoS', 'DDoS'], dtype=object)

# value count of label

In [14]:
df_label=list(df['category'].unique())
df_label_percentage=[]
for i in range(len(df_label)):
    df_label_percentage.append(len(df[df['category']==df_label[i]])*100/len(df))
df['category'].value_counts()

DDoS              38532480
DoS               33005194
Reconnaissance     1821639
Normal                9543
Theft                 1587
Name: category, dtype: int64

# label percentage

In [15]:
df['category'].value_counts()*100/len(df)

DDoS              52.517715
DoS               44.984319
Reconnaissance     2.482797
Normal             0.013007
Theft              0.002163
Name: category, dtype: float64

# non probability random sampling

In non-probability random sampling sample is selected in a non-random way. In non-probability random sampling, not all data points have a equal chance of being selected in a sample.

Types of non-probability random sampling are convenience sampling, judgement sampling, quota sampling and snowball sampling.

# convenience sampling
In convenience sampling most accessable data points will be included in sample.

In [14]:
convenience_df = df.head(int(len(df)/10))

In [15]:
convenience_df

         pkSeqID attack category subcategory
0              1      0   Normal      Normal
1              2      0   Normal      Normal
2              3      0   Normal      Normal
3              4      0   Normal      Normal
4              5      0   Normal      Normal
...          ...    ...      ...         ...
7337039  7337040      1      DoS         TCP
7337040  7337041      1      DoS         TCP
7337041  7337042      1      DoS         TCP
7337042  7337043      1      DoS         TCP
7337043  7337044      1      DoS         TCP

[7337044 rows x 4 columns]

In [16]:
convenience_label=convenience_df['category'].unique()
convenience_label_percentage=[]
for i in range(len(convenience_label)):
    convenience_label_percentage.append(len(convenience_df[convenience_df['category']==convenience_label[i]])*100/len(convenience_df))

In [17]:
convenience_label_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [18]:
for i in range(len(convenience_label)):
    convenience_label_percentage_df.loc[(convenience_label_percentage_df.name==convenience_label[i]),['sample label percentage']]=convenience_label_percentage[i]

In [19]:
convenience_label_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.099468
1  Reconnaissance                   2.482797                24.827969
2           Theft                   0.002163                 0.021630
3             DoS                  44.984319                75.050933
4            DDoS                  52.517715                 0.000000

In [20]:
complete_convenience_df=pd.DataFrame(columns = features)

In [21]:
keys=list(convenience_df['pkSeqID'])

In [22]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_convenience_df=complete_convenience_df.append(df_temp1,ignore_index=True)

In [23]:
complete_convenience_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,1,1.526344e+09,e,arp,192.168.100.1,NaN,192.168.100.3,NaN,4,240,...,2,2,120,120,0.002508,0.000836,0.000836,0,Normal,Normal
1,2,1.526344e+09,e,tcp,192.168.100.7,139,192.168.100.4,36390,10,680,...,5,5,350,330,0.006190,0.002751,0.002751,0,Normal,Normal
2,3,1.526344e+09,e,udp,192.168.100.149,51838,27.124.125.250,123,2,180,...,1,1,90,90,20.590960,0.000000,0.000000,0,Normal,Normal
3,4,1.526344e+09,e,arp,192.168.100.4,NaN,192.168.100.7,NaN,10,510,...,5,5,210,300,0.006189,0.002751,0.002751,0,Normal,Normal
4,5,1.526344e+09,e,udp,192.168.100.27,58999,192.168.100.1,53,4,630,...,2,2,174,456,0.005264,0.001755,0.001755,0,Normal,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337039,7337040,1.528082e+09,e g,tcp,192.168.100.149,58617.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337040,7337041,1.528082e+09,e g,tcp,192.168.100.149,58620.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337041,7337042,1.528082e+09,e g,tcp,192.168.100.149,58621.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337042,7337043,1.528082e+09,e g,tcp,192.168.100.149,58626.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337043,7337044,1.528082e+09,e g,tcp,192.168.100.149,58627.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP

In [24]:
complete_convenience_df.to_csv(r'E:\machine learning\iot botnet\data sampling\convenience sampling.csv')

In [25]:
del(complete_convenience_df)
del(convenience_df)
del(convenience_label_percentage_df)

# probability sampling methods
In probability random sampling sample is selected in a random way in which each member of the population has a non-zero probability of getting selected in the sample.
Types of probability random sampling are simple random sampling, systematic sampling, stratified sampling and cluster sampling.

# simple random sampling

In simple random sampling, each member in the population has the equal probability of getting selected.

In [26]:
shuffle_df=df.sample(frac = 1)

In [27]:
simple_random_df=shuffle_df.sample(int(len(shuffle_df)/10))

In [28]:
simple_random_df

           pkSeqID attack category subcategory
67624015  67624016      1     DDoS         UDP
56252254  56252255      1     DDoS         UDP
50639665  50639666      1     DDoS         TCP
10906582  10906583      1      DoS         TCP
61722967  61722968      1     DDoS         UDP
...            ...    ...      ...         ...
37150006  37150007      1     DDoS         TCP
61050175  61050176      1     DDoS         UDP
53677043  53677044      1     DDoS         TCP
63863110  63863111      1     DDoS         UDP
24209294  24209295      1      DoS         UDP

[7337044 rows x 4 columns]

In [29]:
random_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [30]:
simple_random_label=simple_random_df['category'].unique()
simple_random_label_percentage=[]
for i in range(len(simple_random_label)):
    simple_random_label_percentage.append(len(simple_random_df[simple_random_df['category']==simple_random_label[i]])*100/len(simple_random_df))

In [31]:
for i in range(len(simple_random_label)):
    random_percentage_df.loc[(random_percentage_df.name==simple_random_label[i]),['sample label percentage']]=simple_random_label_percentage[i]

In [32]:
random_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.013561
1  Reconnaissance                   2.482797                 2.483875
2           Theft                   0.002163                 0.002113
3             DoS                  44.984319                44.995587
4            DDoS                  52.517715                52.504864

In [33]:
complete_random_df = pd.DataFrame(columns = features)

In [34]:
keys=list(simple_random_df['pkSeqID'])

In [35]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_random_df=complete_random_df.append(df_temp1,ignore_index=True)

In [36]:
complete_random_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,8,1.526344e+09,e,udp,192.168.100.150,58360,192.168.217.2,53,2,172,...,2,0,172,0,0.399984,0.399984,0.000000,0,Normal,Normal
1,13,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,8080,2,120,...,1,1,60,60,9259.258789,0.000000,0.000000,1,Reconnaissance,Service_Scan
2,14,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,554,2,120,...,1,1,60,60,9345.793945,0.000000,0.000000,1,Reconnaissance,Service_Scan
3,16,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,443,2,120,...,1,1,60,60,7633.588379,0.000000,0.000000,1,Reconnaissance,Service_Scan
4,22,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,199,2,120,...,1,1,60,60,9523.809570,0.000000,0.000000,1,Reconnaissance,Service_Scan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337039,73370330,1.528102e+09,e,udp,192.168.100.149,41203,192.168.100.7,80,2,120,...,2,0,120,0,0.197434,0.197434,0.000000,1,DDoS,UDP
7337040,73370404,1.528102e+09,e,udp,192.168.100.149,55843,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337041,73370434,1.528102e+09,e,udp,192.168.100.147,50458,116.206.80.123,123,2,180,...,1,1,90,90,141.183105,0.000000,0.000000,0,Normal,Normal
7337042,73370439,1.528102e+09,e,udp,192.168.100.46,80,192.168.100.5,80,9903,9501175,...,9903,0,9501175,0,79.977333,79.977333,0.000000,0,Normal,Normal
7337043,73370443,1.528102e+09,e,tcp,192.168.100.3,41307,52.64.239.193,8883,96,40916,...,48,48,37748,3168,0.821691,0.408500,0.406521,0,Normal,Normal

In [37]:
complete_random_df.to_csv(r'E:\machine learning\iot botnet\data sampling\random_sampling.csv')

In [38]:
del(complete_random_df)
del(simple_random_df)
del(random_percentage_df)

# cluster sampling

In [39]:
interval=1000000
start=[]
stop=[]
for i in range(0,len(df),interval):
    start.append(i)
    if(len(df)>i+1000000):
        stop.append(i+1000000-1)
    else:
        stop.append(len(df)-1)

count=[j-i+1for i,j in zip(start,stop)]

In [40]:
cluster=pd.DataFrame({'cluster':['c'+str(i) for i in range(1,75)],'start':start,'stop':stop,'size':count})
cluster

   cluster     start      stop     size
0       c1         0    999999  1000000
1       c2   1000000   1999999  1000000
2       c3   2000000   2999999  1000000
3       c4   3000000   3999999  1000000
4       c5   4000000   4999999  1000000
..     ...       ...       ...      ...
69     c70  69000000  69999999  1000000
70     c71  70000000  70999999  1000000
71     c72  71000000  71999999  1000000
72     c73  72000000  72999999  1000000
73     c74  73000000  73370442   370443

[74 rows x 4 columns]

In [41]:
sample_cluster=cluster.sample(7)

In [42]:
sample_cluster

   cluster     start      stop     size
27     c28  27000000  27999999  1000000
62     c63  62000000  62999999  1000000
50     c51  50000000  50999999  1000000
30     c31  30000000  30999999  1000000
54     c55  54000000  54999999  1000000
57     c58  57000000  57999999  1000000
18     c19  18000000  18999999  1000000

In [43]:
cluster_df=pd.DataFrame(columns = features_1)

In [44]:
s_start=list(sample_cluster['start'])
s_stop=list(sample_cluster['stop'])
for i in range(len(s_start)):
    index=np.arange(s_start[i],s_stop[i]+1)
    temp=df.iloc[index]
    cluster_df=cluster_df.append(temp,ignore_index=True)

In [52]:
cluster_df

          pkSeqID attack category subcategory
0        27000001      1      DoS         UDP
1        27000002      1      DoS         UDP
2        27000003      1      DoS         UDP
3        27000004      1      DoS         UDP
4        27000005      1      DoS         UDP
...           ...    ...      ...         ...
6999995  18999996      1      DoS         UDP
6999996  18999997      1      DoS         UDP
6999997  18999998      1      DoS         UDP
6999998  18999999      1      DoS         UDP
6999999  19000000      1      DoS         UDP

[7000000 rows x 4 columns]

In [46]:
cluster_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [53]:
cluster_label=cluster_df['category'].unique()
cluster_label_percentage=[]
for i in range(len(cluster_label)):
    cluster_label_percentage.append(len(cluster_df[cluster_df['category']==cluster_label[i]])*100/float(len(cluster_df)))

In [54]:
for i in range(len(cluster_label)):
    cluster_percentage_df.loc[(cluster_percentage_df.name==cluster_label[i]),['sample label percentage']]=cluster_label_percentage[i]

In [55]:
cluster_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.003114
1  Reconnaissance                   2.482797                 0.000000
2           Theft                   0.002163                 0.000000
3             DoS                  44.984319                42.855929
4            DDoS                  52.517715                57.140957

In [56]:
complete_cluster_df = pd.DataFrame(columns = features)

In [57]:
keys=list(cluster_df['pkSeqID'])

In [58]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_cluster_df=complete_cluster_df.append(df_temp1,ignore_index=True)

In [59]:
complete_cluster_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,18000001,1.528085e+09,e,udp,192.168.100.148,6742,192.168.100.6,80,7,420,...,7,0,420,0,0.287286,0.287286,0.0,1,DoS,UDP
1,18000002,1.528085e+09,e,udp,192.168.100.148,6743,192.168.100.6,80,7,420,...,7,0,420,0,0.287286,0.287286,0.0,1,DoS,UDP
2,18000003,1.528085e+09,e,udp,192.168.100.148,6744,192.168.100.6,80,7,420,...,7,0,420,0,0.287286,0.287286,0.0,1,DoS,UDP
3,18000004,1.528085e+09,e,udp,192.168.100.148,6745,192.168.100.6,80,7,420,...,7,0,420,0,0.287286,0.287286,0.0,1,DoS,UDP
4,18000005,1.528085e+09,e,udp,192.168.100.148,6746,192.168.100.6,80,7,420,...,7,0,420,0,0.287286,0.287286,0.0,1,DoS,UDP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999995,62999996,1.528100e+09,e,udp,192.168.100.150,4810,192.168.100.3,80,8,480,...,8,0,480,0,0.286237,0.286237,0.0,1,DDoS,UDP
6999996,62999997,1.528100e+09,e,udp,192.168.100.150,4811,192.168.100.3,80,8,480,...,8,0,480,0,0.286237,0.286237,0.0,1,DDoS,UDP
6999997,62999998,1.528100e+09,e,udp,192.168.100.150,4812,192.168.100.3,80,8,480,...,8,0,480,0,0.286237,0.286237,0.0,1,DDoS,UDP
6999998,62999999,1.528100e+09,e,udp,192.168.100.150,4813,192.168.100.3,80,8,480,...,8,0,480,0,0.286237,0.286237,0.0,1,DDoS,UDP
6999999,63000000,1.528100e+09,e,udp,192.168.100.150,4814,192.168.100.3,80,8,480,...,8,0,480,0,0.286237,0.286237,0.0,1,DDoS,UDP

In [60]:
complete_cluster_df.to_csv(r'E:\machine learning\iot botnet\data sampling\cluster sampling.csv')

In [61]:
del(complete_cluster_df)
del(cluster_df)
del(cluster_percentage_df)

# stratified random sampling

In [32]:
def stratify(dataframe):
    labels=list(dataframe['category'].unique())
    count=[int(len(dataframe[dataframe['category']==i])/10) for i in labels]
    cols=dataframe.columns
    temp=pd.DataFrame(columns =cols)
    for i in range(len(labels)):
        temp=temp.append(dataframe[dataframe['category']==labels[i]].sample(count[i]),ignore_index=True)
    
    return temp

In [33]:
stratify_df=stratify(df)

In [34]:
stratify_df

          pkSeqID attack category subcategory
0        38529471      0   Normal      Normal
1        68914057      0   Normal      Normal
2         1737085      0   Normal      Normal
3         1646162      0   Normal      Normal
4           13949      0   Normal      Normal
...           ...    ...      ...         ...
7337037  35541477      1     DDoS         TCP
7337038  71674004      1     DDoS         UDP
7337039  69948342      1     DDoS         UDP
7337040  60657557      1     DDoS         UDP
7337041  59240023      1     DDoS         UDP

[7337042 rows x 4 columns]

In [35]:
stratified_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [36]:
stratified_label=stratify_df['category'].unique()
stratified_label_percentage=[]
for i in range(len(stratified_label)):
    stratified_label_percentage.append(len(stratify_df[stratify_df['category']==stratified_label[i]])*100/float(len(stratify_df)))

In [37]:
for i in range(len(stratified_label)):
    stratified_percentage_df.loc[(stratified_percentage_df.name==stratified_label[i]),['sample label percentage']]=stratified_label_percentage[i]

In [38]:
stratified_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.013003
1  Reconnaissance                   2.482797                 2.482785
2           Theft                   0.002163                 0.002153
3             DoS                  44.984319                44.984327
4            DDoS                  52.517715                52.517731

In [39]:
complete_stratified_df = pd.DataFrame(columns = features)

In [40]:
keys=list(stratify_df['pkSeqID'])

In [41]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    del(df_temp)
    complete_stratified_df=complete_stratified_df.append(df_temp1,ignore_index=True)

In [42]:
complete_stratified_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,22,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,199,2,120,...,1,1,60,60,9523.809570,0.000000,0.000000,1,Reconnaissance,Service_Scan
1,23,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,1025,2,120,...,1,1,60,60,27027.025391,0.000000,0.000000,1,Reconnaissance,Service_Scan
2,40,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,3389,2,120,...,1,1,60,60,125000.000000,0.000000,0.000000,1,Reconnaissance,Service_Scan
3,48,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,9009,2,120,...,1,1,60,60,25000.000000,0.000000,0.000000,1,Reconnaissance,Service_Scan
4,49,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,9898,2,120,...,1,1,60,60,19230.769531,0.000000,0.000000,1,Reconnaissance,Service_Scan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337037,73370427,1.528102e+09,e,udp,192.168.100.149,57375,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP
7337038,73370432,1.528102e+09,e,icmp,192.168.100.7,0x0303,192.168.100.150,0x5000,2,140,...,2,0,140,0,4629.629395,4629.629395,0.000000,1,DDoS,UDP
7337039,73370437,1.528102e+09,e,udp,192.168.100.46,3456,192.168.100.5,80,19806,19267852,...,9903,9903,9410581,9857271,159.957977,79.974945,79.974945,0,Normal,Normal
7337040,73370440,1.528102e+09,e,tcp,192.168.100.5,0,192.168.100.3,0,5942,4223674,...,5942,0,4223674,0,47.984787,47.984787,0.000000,0,Normal,Normal
7337041,73370442,1.528102e+09,e,tcp,192.168.100.6,80,192.168.100.3,80,3342,989232,...,3342,0,989232,0,26.992807,26.992807,0.000000,0,Normal,Normal

In [43]:
complete_stratified_df.to_csv(r'E:\machine learning\iot botnet\data sampling\stratified random sampling.csv')

In [44]:
del(complete_stratified_df)
del(stratify_df)
del(stratified_percentage_df)

# systematic sampling

In [45]:
interval=np.arange(0,len(df),10)

In [46]:
systematic_sampling_df=df.iloc[interval]

In [47]:
systematic_sampling_df

           pkSeqID attack        category   subcategory
0                1      0          Normal        Normal
10              11      0          Normal        Normal
20              21      1  Reconnaissance  Service_Scan
30              31      1  Reconnaissance  Service_Scan
40              41      1  Reconnaissance  Service_Scan
...            ...    ...             ...           ...
73370400  73370401      1            DDoS           UDP
73370410  73370411      1            DDoS           UDP
73370420  73370421      1            DDoS           UDP
73370430  73370431      1            DDoS           UDP
73370440  73370441      0          Normal        Normal

[7337045 rows x 4 columns]

In [48]:
systematic_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [49]:
systematic_label=systematic_sampling_df['category'].unique()
systematic_label_percentage=[]
for i in range(len(systematic_label)):
    systematic_label_percentage.append(len(systematic_sampling_df[systematic_sampling_df['category']==systematic_label[i]])*100/float(len(systematic_sampling_df)))

In [50]:
for i in range(len(systematic_label)):
    systematic_percentage_df.loc[(systematic_percentage_df.name==systematic_label[i]),['sample label percentage']]=systematic_label_percentage[i]

In [51]:
systematic_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.013439
1  Reconnaissance                   2.482797                 2.482185
2           Theft                   0.002163                 0.002167
3             DoS                  44.984319                44.984336
4            DDoS                  52.517715                52.517873

In [52]:
complete_systematic_df = pd.DataFrame(columns = features)

In [53]:
keys=list(systematic_sampling_df['pkSeqID'])

In [54]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_systematic_df=complete_systematic_df.append(df_temp1,ignore_index=True)

In [55]:
complete_systematic_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,1,1.526344e+09,e,arp,192.168.100.1,NaN,192.168.100.3,NaN,4,240,...,2,2,120,120,0.002508,0.000836,0.000836,0,Normal,Normal
1,11,1.526344e+09,e,udp,192.168.100.7,138,192.168.100.255,138,4,1086,...,4,0,1086,0,0.004119,0.004119,0.000000,0,Normal,Normal
2,21,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,23,2,120,...,1,1,60,60,10000.000000,0.000000,0.000000,1,Reconnaissance,Service_Scan
3,31,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,993,3,180,...,2,1,120,60,19047.619141,9523.809570,0.000000,1,Reconnaissance,Service_Scan
4,41,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,21,3,180,...,2,1,120,60,46511.628906,23255.814453,0.000000,1,Reconnaissance,Service_Scan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337040,73370401,1.528102e+09,e,udp,192.168.100.149,55839,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337041,73370411,1.528102e+09,e,udp,192.168.100.149,57353,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP
7337042,73370421,1.528102e+09,e,udp,192.168.100.149,57367,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP
7337043,73370431,1.528102e+09,e,arp,192.168.100.150,NaN,192.168.100.7,NaN,5,300,...,4,1,240,60,1.284027,0.963020,0.000000,1,DDoS,UDP
7337044,73370441,1.528102e+09,e,udp,192.168.100.7,365,192.168.100.3,565,5323,319380,...,5323,0,319380,0,42.989494,42.989494,0.000000,0,Normal,Normal

In [56]:
complete_systematic_df.to_csv(r'E:\machine learning\iot botnet\data sampling\systematic sampling.csv')

In [57]:
del(complete_systematic_df)
del(systematic_sampling_df)
del(systematic_percentage_df)