In [1]:
import pandas as pd
import numpy as np

# combining all csv file into one dataframe

In [2]:
features=['pkSeqID', 'stime', 'flgs', 'proto', 'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes',
                        'state', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'smac', 'dmac', 'sum', 'min', 'max', 'soui', 'doui',
                        'sco', 'dco', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate', 'attack',
                        'category', 'subcategory' ]
features_1=['pkSeqID','attack','category', 'subcategory']

In [3]:
df1 = pd.DataFrame(columns = features_1)
df2 = pd.DataFrame(columns = features_1)
df3 = pd.DataFrame(columns = features_1)
df4 = pd.DataFrame(columns = features_1)
df = pd.DataFrame(columns = features_1)
df5 = pd.DataFrame(columns = features_1)
df6 = pd.DataFrame(columns = features_1)

In [4]:
fname=r"D:\IBM\Entire Dataset\UNSW_2018_IoT_Botnet_Dataset_"
extension=".csv"

In [5]:
for i in range(1,19):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df1=df1.append(df_temp,ignore_index=True)

df5=df5.append(df1,ignore_index=True)
del(df1)

for i in range(19,37):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df2=df2.append(df_temp,ignore_index=True)

df5=df5.append(df2,ignore_index=True)
del(df2)

In [6]:
df5

           pkSeqID attack category subcategory
0                1      0   Normal      Normal
1                2      0   Normal      Normal
2                3      0   Normal      Normal
3                4      0   Normal      Normal
4                5      0   Normal      Normal
...            ...    ...      ...         ...
35999995  35999996      1     DDoS         TCP
35999996  35999997      1     DDoS         TCP
35999997  35999998      1     DDoS         TCP
35999998  35999999      1     DDoS         TCP
35999999  36000000      1     DDoS         TCP

[36000000 rows x 4 columns]

In [7]:

for i in range(37,56):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df3=df3.append(df_temp,ignore_index=True)

df6=df6.append(df3,ignore_index=True)
del(df3)

for i in range(56,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp=df_temp[features_1]
    df4=df4.append(df_temp,ignore_index=True)

df6=df6.append(df4,ignore_index=True)
del(df4)

In [8]:
df6

           pkSeqID attack category subcategory
0         36000001      1     DDoS         TCP
1         36000002      1     DDoS         TCP
2         36000003      1     DDoS         TCP
3         36000004      1     DDoS         TCP
4         36000005      1     DDoS         TCP
...            ...    ...      ...         ...
37370438  73370439      0   Normal      Normal
37370439  73370440      0   Normal      Normal
37370440  73370441      0   Normal      Normal
37370441  73370442      0   Normal      Normal
37370442  73370443      0   Normal      Normal

[37370443 rows x 4 columns]

In [9]:
df=df.append(df5,ignore_index=True)
df=df.append(df6,ignore_index=True)

In [10]:
del(df5)
del(df6)

In [11]:
df

           pkSeqID attack category subcategory
0                1      0   Normal      Normal
1                2      0   Normal      Normal
2                3      0   Normal      Normal
3                4      0   Normal      Normal
4                5      0   Normal      Normal
...            ...    ...      ...         ...
73370438  73370439      0   Normal      Normal
73370439  73370440      0   Normal      Normal
73370440  73370441      0   Normal      Normal
73370441  73370442      0   Normal      Normal
73370442  73370443      0   Normal      Normal

[73370443 rows x 4 columns]

In [13]:
df.to_csv(r'D:\IBM\data sampling\data.csv')

# dataset description

In [14]:
print('total number of rows is ',len(df))

total number of rows is  73370443

# label names

In [15]:
df['category'].unique()

array(['Normal', 'Reconnaissance', 'Theft', 'DoS', 'DDoS'], dtype=object)

# value count of label

In [16]:
df_label=list(df['category'].unique())
df_label_percentage=[]
for i in range(len(df_label)):
    df_label_percentage.append(len(df[df['category']==df_label[i]])*100/len(df))
df['category'].value_counts()

DDoS              38532480
DoS               33005194
Reconnaissance     1821639
Normal                9543
Theft                 1587
Name: category, dtype: int64

# label percentage

In [17]:
df['category'].value_counts()*100/len(df)

DDoS              52.517715
DoS               44.984319
Reconnaissance     2.482797
Normal             0.013007
Theft              0.002163
Name: category, dtype: float64

# non probability random sampling

In non-probability random sampling sample is selected in a non-random way. In non-probability random sampling, not all data points have a equal chance of being selected in a sample.

Types of non-probability random sampling are convenience sampling, judgement sampling, quota sampling and snowball sampling.

# convenience sampling
In convenience sampling most accessable data points will be included in sample.

In [18]:
convenience_df = df.head(int(len(df)/10))

In [19]:
convenience_df

         pkSeqID attack category subcategory
0              1      0   Normal      Normal
1              2      0   Normal      Normal
2              3      0   Normal      Normal
3              4      0   Normal      Normal
4              5      0   Normal      Normal
...          ...    ...      ...         ...
7337039  7337040      1      DoS         TCP
7337040  7337041      1      DoS         TCP
7337041  7337042      1      DoS         TCP
7337042  7337043      1      DoS         TCP
7337043  7337044      1      DoS         TCP

[7337044 rows x 4 columns]

In [20]:
convenience_label=convenience_df['category'].unique()
convenience_label_percentage=[]
for i in range(len(convenience_label)):
    convenience_label_percentage.append(len(convenience_df[convenience_df['category']==convenience_label[i]])*100/len(convenience_df))

In [21]:
convenience_label_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [22]:
for i in range(len(convenience_label)):
    convenience_label_percentage_df.loc[(convenience_label_percentage_df.name==convenience_label[i]),['sample label percentage']]=convenience_label_percentage[i]

In [23]:
convenience_label_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.099468
1  Reconnaissance                   2.482797                24.827969
2           Theft                   0.002163                 0.021630
3             DoS                  44.984319                75.050933
4            DDoS                  52.517715                 0.000000

In [24]:
complete_convenience_df=pd.DataFrame(columns = features)

In [25]:
keys=list(convenience_df['pkSeqID'])

In [26]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_convenience_df=complete_convenience_df.append(df_temp1,ignore_index=True)

In [27]:
complete_convenience_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,1,1.526344e+09,e,arp,192.168.100.1,NaN,192.168.100.3,NaN,4,240,...,2,2,120,120,0.002508,0.000836,0.000836,0,Normal,Normal
1,2,1.526344e+09,e,tcp,192.168.100.7,139,192.168.100.4,36390,10,680,...,5,5,350,330,0.006190,0.002751,0.002751,0,Normal,Normal
2,3,1.526344e+09,e,udp,192.168.100.149,51838,27.124.125.250,123,2,180,...,1,1,90,90,20.590960,0.000000,0.000000,0,Normal,Normal
3,4,1.526344e+09,e,arp,192.168.100.4,NaN,192.168.100.7,NaN,10,510,...,5,5,210,300,0.006189,0.002751,0.002751,0,Normal,Normal
4,5,1.526344e+09,e,udp,192.168.100.27,58999,192.168.100.1,53,4,630,...,2,2,174,456,0.005264,0.001755,0.001755,0,Normal,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337039,7337040,1.528082e+09,e g,tcp,192.168.100.149,58617.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337040,7337041,1.528082e+09,e g,tcp,192.168.100.149,58620.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337041,7337042,1.528082e+09,e g,tcp,192.168.100.149,58621.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337042,7337043,1.528082e+09,e g,tcp,192.168.100.149,58626.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP
7337043,7337044,1.528082e+09,e g,tcp,192.168.100.149,58627.0,192.168.100.3,80.0,6,548,...,4,2,428,120,0.183968,0.110381,0.037022,1,DoS,TCP

In [28]:
complete_convenience_df.to_csv(r'D:\IBM\data sampling\convenience sampling.csv')

In [29]:
del(complete_convenience_df)
del(convenience_df)
del(convenience_label_percentage_df)

# probability sampling methods
In probability random sampling sample is selected in a random way in which each member of the population has a non-zero probability of getting selected in the sample.
Types of probability random sampling are simple random sampling, systematic sampling, stratified sampling and cluster sampling.

# simple random sampling

In simple random sampling, each member in the population has the equal probability of getting selected.

In [30]:
shuffle_df=df.sample(frac = 1)

In [31]:
simple_random_df=shuffle_df.sample(int(len(shuffle_df)/10))

In [32]:
simple_random_df

           pkSeqID attack category subcategory
46467166  46467167      1     DDoS         TCP
68289694  68289695      1     DDoS         UDP
25345206  25345207      1      DoS         UDP
54886919  54886920      1     DDoS         UDP
64445838  64445839      1     DDoS         UDP
...            ...    ...      ...         ...
59725720  59725721      1     DDoS         UDP
56426796  56426797      1     DDoS         UDP
18751974  18751975      1      DoS         UDP
20708921  20708922      1      DoS         UDP
46041100  46041101      1     DDoS         TCP

[7337044 rows x 4 columns]

In [33]:
random_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [34]:
simple_random_label=simple_random_df['category'].unique()
simple_random_label_percentage=[]
for i in range(len(simple_random_label)):
    simple_random_label_percentage.append(len(simple_random_df[simple_random_df['category']==simple_random_label[i]])*100/len(simple_random_df))

In [35]:
for i in range(len(simple_random_label)):
    random_percentage_df.loc[(random_percentage_df.name==simple_random_label[i]),['sample label percentage']]=simple_random_label_percentage[i]

In [36]:
random_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.013016
1  Reconnaissance                   2.482797                 2.487637
2           Theft                   0.002163                 0.002153
3             DoS                  44.984319                44.961336
4            DDoS                  52.517715                52.535858

In [37]:
complete_random_df = pd.DataFrame(columns = features)

In [38]:
keys=list(simple_random_df['pkSeqID'])

In [39]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_random_df=complete_random_df.append(df_temp1,ignore_index=True)

In [40]:
complete_random_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,2,1.526344e+09,e,tcp,192.168.100.7,139,192.168.100.4,36390,10,680,...,5,5,350,330,0.006190,0.002751,0.002751,0,Normal,Normal
1,4,1.526344e+09,e,arp,192.168.100.4,NaN,192.168.100.7,NaN,10,510,...,5,5,210,300,0.006189,0.002751,0.002751,0,Normal,Normal
2,14,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,554,2,120,...,1,1,60,60,9345.793945,0.000000,0.000000,1,Reconnaissance,Service_Scan
3,30,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,1720,2,120,...,1,1,60,60,15151.514648,0.000000,0.000000,1,Reconnaissance,Service_Scan
4,40,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,3389,2,120,...,1,1,60,60,125000.000000,0.000000,0.000000,1,Reconnaissance,Service_Scan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337039,73370389,1.528102e+09,e,udp,192.168.100.149,55824,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337040,73370390,1.528102e+09,e,udp,192.168.100.149,55825,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337041,73370400,1.528102e+09,e,udp,192.168.100.149,55838,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337042,73370414,1.528102e+09,e,udp,192.168.100.149,57357,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP
7337043,73370416,1.528102e+09,e,udp,192.168.100.149,57360,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP

In [41]:
complete_random_df.to_csv(r'D:\IBM\data sampling\random_sampling.csv')

In [42]:
del(complete_random_df)
del(simple_random_df)
del(random_percentage_df)

# cluster sampling

In [43]:
interval=1000000
start=[]
stop=[]
for i in range(0,len(df),interval):
    start.append(i)
    if(len(df)>i+1000000):
        stop.append(i+1000000-1)
    else:
        stop.append(len(df)-1)

count=[j-i+1for i,j in zip(start,stop)]

In [44]:
cluster=pd.DataFrame({'cluster':['c'+str(i) for i in range(1,75)],'start':start,'stop':stop,'size':count})
cluster

   cluster     start      stop     size
0       c1         0    999999  1000000
1       c2   1000000   1999999  1000000
2       c3   2000000   2999999  1000000
3       c4   3000000   3999999  1000000
4       c5   4000000   4999999  1000000
..     ...       ...       ...      ...
69     c70  69000000  69999999  1000000
70     c71  70000000  70999999  1000000
71     c72  71000000  71999999  1000000
72     c73  72000000  72999999  1000000
73     c74  73000000  73370442   370443

[74 rows x 4 columns]

In [45]:
sample_cluster=cluster.sample(7)

In [46]:
sample_cluster

   cluster     start      stop     size
24     c25  24000000  24999999  1000000
26     c27  26000000  26999999  1000000
30     c31  30000000  30999999  1000000
15     c16  15000000  15999999  1000000
55     c56  55000000  55999999  1000000
67     c68  67000000  67999999  1000000
73     c74  73000000  73370442   370443

In [47]:
cluster_df=pd.DataFrame(columns = features_1)

In [48]:
s_start=list(sample_cluster['start'])
s_stop=list(sample_cluster['stop'])
for i in range(len(s_start)):
    index=np.arange(s_start[i],s_stop[i]+1)
    temp=df.iloc[index]
    cluster_df=cluster_df.append(temp,ignore_index=True)

In [49]:
cluster_df

          pkSeqID attack category subcategory
0        24000001      1      DoS         UDP
1        24000002      1      DoS         UDP
2        24000003      1      DoS         UDP
3        24000004      1      DoS         UDP
4        24000005      1      DoS         UDP
...           ...    ...      ...         ...
6370438  73370439      0   Normal      Normal
6370439  73370440      0   Normal      Normal
6370440  73370441      0   Normal      Normal
6370441  73370442      0   Normal      Normal
6370442  73370443      0   Normal      Normal

[6370443 rows x 4 columns]

In [50]:
cluster_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [51]:
cluster_label=cluster_df['category'].unique()
cluster_label_percentage=[]
for i in range(len(cluster_label)):
    cluster_label_percentage.append(len(cluster_df[cluster_df['category']==cluster_label[i]])*100/float(len(cluster_df)))

In [52]:
for i in range(len(cluster_label)):
    cluster_percentage_df.loc[(cluster_percentage_df.name==cluster_label[i]),['sample label percentage']]=cluster_label_percentage[i]

In [53]:
cluster_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.003234
1  Reconnaissance                   2.482797                 0.000000
2           Theft                   0.002163                 0.000000
3             DoS                  44.984319                62.787988
4            DDoS                  52.517715                37.208778

In [54]:
complete_cluster_df = pd.DataFrame(columns = features)

In [55]:
keys=list(cluster_df['pkSeqID'])

In [56]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_cluster_df=complete_cluster_df.append(df_temp1,ignore_index=True)

In [57]:
complete_cluster_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,15000001,1.528085e+09,e,udp,192.168.100.149,31093,192.168.100.5,80,8,480,...,8,0,480,0,0.281715,0.281715,0.000000,1,DoS,UDP
1,15000002,1.528085e+09,e,udp,192.168.100.149,31094,192.168.100.5,80,8,480,...,8,0,480,0,0.281715,0.281715,0.000000,1,DoS,UDP
2,15000003,1.528085e+09,e,udp,192.168.100.149,31095,192.168.100.5,80,8,480,...,8,0,480,0,0.281715,0.281715,0.000000,1,DoS,UDP
3,15000004,1.528085e+09,e,udp,192.168.100.149,31096,192.168.100.5,80,8,480,...,8,0,480,0,0.281715,0.281715,0.000000,1,DoS,UDP
4,15000005,1.528085e+09,e,udp,192.168.100.149,31097,192.168.100.5,80,8,480,...,8,0,480,0,0.281715,0.281715,0.000000,1,DoS,UDP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6370438,73370439,1.528102e+09,e,udp,192.168.100.46,80,192.168.100.5,80,9903,9501175,...,9903,0,9501175,0,79.977333,79.977333,0.000000,0,Normal,Normal
6370439,73370440,1.528102e+09,e,tcp,192.168.100.5,0,192.168.100.3,0,5942,4223674,...,5942,0,4223674,0,47.984787,47.984787,0.000000,0,Normal,Normal
6370440,73370441,1.528102e+09,e,udp,192.168.100.7,365,192.168.100.3,565,5323,319380,...,5323,0,319380,0,42.989494,42.989494,0.000000,0,Normal,Normal
6370441,73370442,1.528102e+09,e,tcp,192.168.100.6,80,192.168.100.3,80,3342,989232,...,3342,0,989232,0,26.992807,26.992807,0.000000,0,Normal,Normal
6370442,73370443,1.528102e+09,e,tcp,192.168.100.3,41307,52.64.239.193,8883,96,40916,...,48,48,37748,3168,0.821691,0.408500,0.406521,0,Normal,Normal

In [58]:
complete_cluster_df.to_csv(r'D:\IBM\data sampling\cluster sampling.csv')

In [59]:
del(complete_cluster_df)
del(cluster_df)
del(cluster_percentage_df)

# stratified random sampling

In [60]:
def stratify(dataframe):
    labels=list(dataframe['category'].unique())
    count=[int(len(dataframe[dataframe['category']==i])/10) for i in labels]
    cols=dataframe.columns
    temp=pd.DataFrame(columns =cols)
    for i in range(len(labels)):
        temp=temp.append(dataframe[dataframe['category']==labels[i]].sample(count[i]),ignore_index=True)
    
    return temp

In [61]:
stratify_df=stratify(df)

In [62]:
stratify_df

          pkSeqID attack category subcategory
0          457877      0   Normal      Normal
1          138100      0   Normal      Normal
2         2111457      0   Normal      Normal
3            6631      0   Normal      Normal
4         2112842      0   Normal      Normal
...           ...    ...      ...         ...
7337037  72015456      1     DDoS         UDP
7337038  49841228      1     DDoS         TCP
7337039  45938316      1     DDoS         TCP
7337040  62828434      1     DDoS         UDP
7337041  38488767      1     DDoS         TCP

[7337042 rows x 4 columns]

In [63]:
stratified_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [64]:
stratified_label=stratify_df['category'].unique()
stratified_label_percentage=[]
for i in range(len(stratified_label)):
    stratified_label_percentage.append(len(stratify_df[stratify_df['category']==stratified_label[i]])*100/float(len(stratify_df)))

In [65]:
for i in range(len(stratified_label)):
    stratified_percentage_df.loc[(stratified_percentage_df.name==stratified_label[i]),['sample label percentage']]=stratified_label_percentage[i]

In [66]:
stratified_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.013003
1  Reconnaissance                   2.482797                 2.482785
2           Theft                   0.002163                 0.002153
3             DoS                  44.984319                44.984327
4            DDoS                  52.517715                52.517731

In [67]:
complete_stratified_df = pd.DataFrame(columns = features)

In [68]:
keys=list(stratify_df['pkSeqID'])

In [69]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    del(df_temp)
    complete_stratified_df=complete_stratified_df.append(df_temp1,ignore_index=True)

In [70]:
complete_stratified_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,1,1.526344e+09,e,arp,192.168.100.1,NaN,192.168.100.3,NaN,4,240,...,2,2,120,120,0.002508,0.000836,0.000836,0,Normal,Normal
1,4,1.526344e+09,e,arp,192.168.100.4,NaN,192.168.100.7,NaN,10,510,...,5,5,210,300,0.006189,0.002751,0.002751,0,Normal,Normal
2,23,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,1025,2,120,...,1,1,60,60,27027.025391,0.000000,0.000000,1,Reconnaissance,Service_Scan
3,25,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,53,3,180,...,2,1,120,60,20618.556641,10309.278320,0.000000,1,Reconnaissance,Service_Scan
4,29,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,1723,2,120,...,1,1,60,60,24390.244141,0.000000,0.000000,1,Reconnaissance,Service_Scan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337037,73370365,1.528102e+09,e,udp,192.168.100.149,41241,192.168.100.7,80,2,120,...,2,0,120,0,0.197434,0.197434,0.000000,1,DDoS,UDP
7337038,73370370,1.528102e+09,e,udp,192.168.100.149,41247,192.168.100.7,80,2,120,...,2,0,120,0,0.197434,0.197434,0.000000,1,DDoS,UDP
7337039,73370379,1.528102e+09,e,udp,192.168.100.149,48546,192.168.100.7,80,2,120,...,2,0,120,0,0.198226,0.198226,0.000000,1,DDoS,UDP
7337040,73370395,1.528102e+09,e,udp,192.168.100.149,55832,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337041,73370406,1.528102e+09,e,udp,192.168.100.149,57346,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP

In [71]:
complete_stratified_df.to_csv(r'D:\IBM\data sampling\stratified random sampling.csv')

In [72]:
del(complete_stratified_df)
del(stratify_df)
del(stratified_percentage_df)

# systematic sampling

In [73]:
interval=np.arange(0,len(df),10)

In [74]:
systematic_sampling_df=df.iloc[interval]

In [75]:
systematic_sampling_df

           pkSeqID attack        category   subcategory
0                1      0          Normal        Normal
10              11      0          Normal        Normal
20              21      1  Reconnaissance  Service_Scan
30              31      1  Reconnaissance  Service_Scan
40              41      1  Reconnaissance  Service_Scan
...            ...    ...             ...           ...
73370400  73370401      1            DDoS           UDP
73370410  73370411      1            DDoS           UDP
73370420  73370421      1            DDoS           UDP
73370430  73370431      1            DDoS           UDP
73370440  73370441      0          Normal        Normal

[7337045 rows x 4 columns]

In [76]:
systematic_percentage_df=pd.DataFrame({'name':df_label,'original label percentage':df_label_percentage,
                                  'sample label percentage':[0 for i in range(len(df_label))]})

In [77]:
systematic_label=systematic_sampling_df['category'].unique()
systematic_label_percentage=[]
for i in range(len(systematic_label)):
    systematic_label_percentage.append(len(systematic_sampling_df[systematic_sampling_df['category']==systematic_label[i]])*100/float(len(systematic_sampling_df)))

In [78]:
for i in range(len(systematic_label)):
    systematic_percentage_df.loc[(systematic_percentage_df.name==systematic_label[i]),['sample label percentage']]=systematic_label_percentage[i]

In [79]:
systematic_percentage_df

             name  original label percentage  sample label percentage
0          Normal                   0.013007                 0.013439
1  Reconnaissance                   2.482797                 2.482185
2           Theft                   0.002163                 0.002167
3             DoS                  44.984319                44.984336
4            DDoS                  52.517715                52.517873

In [80]:
complete_systematic_df = pd.DataFrame(columns = features)

In [81]:
keys=list(systematic_sampling_df['pkSeqID'])

In [82]:
for i in range(1,75):
    filename=fname+str(i)+extension
    df_temp=pd.read_csv(filename,names=features,low_memory=False)
    df_temp1=df_temp[df_temp['pkSeqID'].isin(keys)]
    complete_systematic_df=complete_systematic_df.append(df_temp1,ignore_index=True)

In [83]:
complete_systematic_df

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,...,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,1,1.526344e+09,e,arp,192.168.100.1,NaN,192.168.100.3,NaN,4,240,...,2,2,120,120,0.002508,0.000836,0.000836,0,Normal,Normal
1,11,1.526344e+09,e,udp,192.168.100.7,138,192.168.100.255,138,4,1086,...,4,0,1086,0,0.004119,0.004119,0.000000,0,Normal,Normal
2,21,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,23,2,120,...,1,1,60,60,10000.000000,0.000000,0.000000,1,Reconnaissance,Service_Scan
3,31,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,993,3,180,...,2,1,120,60,19047.619141,9523.809570,0.000000,1,Reconnaissance,Service_Scan
4,41,1.526344e+09,e,tcp,192.168.100.150,36663,192.168.100.3,21,3,180,...,2,1,120,60,46511.628906,23255.814453,0.000000,1,Reconnaissance,Service_Scan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7337040,73370401,1.528102e+09,e,udp,192.168.100.149,55839,192.168.100.7,80,2,120,...,2,0,120,0,0.198756,0.198756,0.000000,1,DDoS,UDP
7337041,73370411,1.528102e+09,e,udp,192.168.100.149,57353,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP
7337042,73370421,1.528102e+09,e,udp,192.168.100.149,57367,192.168.100.7,80,2,120,...,2,0,120,0,0.198884,0.198884,0.000000,1,DDoS,UDP
7337043,73370431,1.528102e+09,e,arp,192.168.100.150,NaN,192.168.100.7,NaN,5,300,...,4,1,240,60,1.284027,0.963020,0.000000,1,DDoS,UDP
7337044,73370441,1.528102e+09,e,udp,192.168.100.7,365,192.168.100.3,565,5323,319380,...,5323,0,319380,0,42.989494,42.989494,0.000000,0,Normal,Normal

In [84]:
complete_systematic_df.to_csv(r'D:\IBM\data sampling\systematic sampling.csv')

In [85]:
del(complete_systematic_df)
del(systematic_sampling_df)
del(systematic_percentage_df)